<form class="nzx-query-container" nz-form [formGroup]="queryForm">
  <div nz-row [nzGutter]="nzxGutter" [nzJustify]="nzxJustify">
    <ng-container *ngFor="let control of controls">
      <div
        *ngIf="!control.hidden"
        nz-col
        [nzSpan]="control.nzxSpan || 24 / lineNumber"
        [hidden]="nzxCollapse && control.collapse"
      >
        <nz-form-item>
          <nz-form-label *ngIf="control.label" [nzSpan]="control.nzxLSpan || 6">
            {{ control.label }}
          </nz-form-label>
          <nz-form-control
            [nzSpan]="control.nzxRSpan || 18"
            [nzErrorTip]="control.errorTip"
          >
            <input
              *ngIf="control.controlType === 'input'"
              nz-input
              type="text"
              placeholder="{{ control.placeholder }}"
              [formControlName]="control.controlName"
            />

            <nz-select
              *ngIf="control.controlType === 'select'"
              [formControlName]="control.controlName"
              [nzShowSearch]="true"
              [nzAllowClear]="control.nzxAllowClear"
              [nzPlaceHolder]="control.placeholder"
            >
              <nz-option
                *ngFor="let item of control.menuList"
                [nzValue]="item.value"
                [nzLabel]="item.label"
              >
              </nz-option>
            </nz-select>

            <nz-date-picker
              *ngIf="control.controlType === 'datePicker'"
              [ngStyle]="{ width: '100%' }"
              [formControlName]="control.controlName"
              [nzPlaceHolder]="control.placeholder"
            >
            </nz-date-picker>

            <nz-range-picker
              *ngIf="control.controlType === 'rangePicker'"
              [ngStyle]="{ width: '100%' }"
              [formControlName]="control.controlName"
            >
            </nz-range-picker>

            <ng-container *ngIf="control.controlType === 'Template'">
              <ng-container
                *ngTemplateOutlet="
                  control.templateRef;
                  context: { $implicit: queryForm.get(control.controlName) }
                "
              >
              </ng-container>
            </ng-container>
          </nz-form-control>
        </nz-form-item>
      </div>
    </ng-container>

    <div class="nzx-query-btn" nz-col [nzSpan]="nzxBtnSpan || 24 / lineNumber">
      <div nz-row nzJustify="end" nzAlign="middle">
        <button nz-button nzType="primary" type="button" (click)="search()">
          {{ locale["query"] }}
        </button>
        <button nz-button type="button" (click)="reset()">
          {{ locale["reset"] }}
        </button>
        <ng-content></ng-content>
        <a
          *ngIf="nzxCollapse"
          nz-button
          nzType="link"
          (click)="toggleCollapse()"
        >
          {{ collapseText }}
          <i nz-icon [nzType]="collapseIcon"></i>
        </a>
      </div>
    </div>
  </div>
</form>
