.container {
  padding: 12px;
  background-color: #fff;
  border-radius: 8px;

  [nz-form-label] {
    overflow: visible;
  }

  .btn-container {
    button {
      margin: 0 4px;
      width: 104px;
    }

  }
}
