<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="组件" nzIcon="user">
        <ul>
          <li nz-menu-item [routerLink]="['checkbox']">nzx-checkbox-group</li>
          <li nz-menu-item [routerLink]="['simple-table']">nzx-simple-table</li>
          <li nz-menu-item [routerLink]="['nzx-map-pipe']">nzx-map-pipe</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
      <a href="https://github.com/EnochGao/ng-zorro-antd-extension" target="_blank">
        <i nz-icon nzType="github" nzTheme="outline">
        </i>
      </a>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
