<nz-layout>
  <nz-sider nzCollapsible [nzTrigger]="null">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="组件" nzIcon="user" nzOpen>
        <ul>
          <li nz-menu-item [routerLink]="['checkbox']">nzx-checkbox-group</li>
          <li nz-menu-item [routerLink]="['simple-table']">nzx-simple-table</li>
          <li nz-menu-item [routerLink]="['nzx-configurable-query']">
            nzx-configurable-query
          </li>
          <li nz-menu-item [routerLink]="['nzx-table-form']">nzx-table-form</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="管道" nzIcon="user">
        <ul>
          <li nz-menu-item [routerLink]="['nzx-map-pipe']">nzx-map-pipe</li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <a
        href="https://github.com/EnochGao/ng-zorro-antd-extension"
        target="_blank"
      >
        <i nz-icon nzType="github" nzTheme="outline"> </i>
      </a>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
