<section class="mate-pro">
  <header class="common-header mate-pro-header">
    <img
      src="https://consumer.huawei.com/content/dam/huawei-cbg-site/cn/mkt/pdp/phones/mate60-pro/img/list-img/green.png"
      />
    <span class="common-title">HUAWEI Mate 60 Pro评价表（第一份）</span>
  </header>

  <footer class="common-footer mate-pro-footer">
    页脚 mate 60 pro（第一份）
  </footer>
  <table class="common-description">
    <tbody>
      <tr>
        <td>商品名称</td>
        <td>HUAWEI Mate 60 Pro</td>
        <td>尺寸</td>
        <td>163.65mm x 79mm x 8.1mm</td>
      </tr>
      <tr>
        <td>重量</td>
        <td>约 225 g（含电池）</td>
        <td>屏幕尺寸</td>
        <td>6.82 英寸</td>
      </tr>
      <tr>
        <td>色彩</td>
        <td>10.7 亿色，P3 广色域</td>
        <td>类型</td>
        <td>OLED</td>
      </tr>
      <tr>
        <td>分辨率</td>
        <td>FHD+ 2720 × 1260 像素</td>
        <td>玻璃类型</td>
        <td>第二代昆仑玻璃</td>
      </tr>
      <tr>
        <td>操作系统</td>
        <td>鸿蒙操作系统 4.0</td>
        <td>运行内存</td>
        <td>12 GB RAM</td>
      </tr>
    </tbody>
  </table>

  <table class="common-evaluation">
    <thead>
      <tr>
        <th>
          Investigation Content <br />
          调查内容
        </th>
        <th>Standard for Evaluation <br />评估标准</th>
        <th>Evaluation <br />评定</th>
      </tr>
    </thead>
    <tbody>
      @for (
        item of [
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
        ]; track
        item; let i = $index) {
        <tr
          >
          <td>{{ i + 1 }} 颜色</td>
          <td>符合人类审美</td>
          <td [ngStyle]="{ 'text-align': 'center' }">好</td>
        </tr>
      }
      <tr>
        <td>Your valued suggestion <br />您的建议</td>
        <td colSpan="2">建议购买</td>
      </tr>
    </tbody>
  </table>

  <div class="common-date">
    <span> Date </span>
    <div class="date">2024-01-01</div>
  </div>
</section>

<section class="mate">
  <header class="common-header mate-header">
    <img
      src="https://consumer.huawei.com/content/dam/huawei-cbg-site/cn/mkt/pdp/phones/mate60-pro/img/list-img/green.png"
      />
    <span class="common-title">HUAWEI Mate 60 评价表（第二份）</span>
  </header>

  <footer class="common-footer mate-footer">页脚 mate 60（第二份）</footer>
  <table class="common-description">
    <tbody>
      <tr>
        <td>商品名称</td>
        <td>HUAWEI Mate 60</td>
        <td>尺寸</td>
        <td>163.65mm x 79mm x 8.1mm</td>
      </tr>
      <tr>
        <td>重量</td>
        <td>约 225 g（含电池）</td>
        <td>屏幕尺寸</td>
        <td>6.82 英寸</td>
      </tr>
      <tr>
        <td>色彩</td>
        <td>10.7 亿色，P3 广色域</td>
        <td>类型</td>
        <td>OLED</td>
      </tr>
      <tr>
        <td>分辨率</td>
        <td>FHD+ 2720 × 1260 像素</td>
        <td>玻璃类型</td>
        <td>第二代昆仑玻璃</td>
      </tr>
      <tr>
        <td>操作系统</td>
        <td>鸿蒙操作系统 4.0</td>
        <td>运行内存</td>
        <td>12 GB RAM</td>
      </tr>
    </tbody>
  </table>

  <table class="common-evaluation">
    <thead>
      <tr>
        <th>
          Investigation Content <br />
          调查内容
        </th>
        <th>Standard for Evaluation <br />评估标准</th>
        <th>Evaluation <br />评定</th>
      </tr>
    </thead>
    <tbody>
      @for (
        item of [
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
        ]; track
        item; let i = $index) {
        <tr
          >
          <td>{{ i + 1 }} 颜色</td>
          <td>符合人类审美</td>
          <td [ngStyle]="{ 'text-align': 'center' }">好</td>
        </tr>
      }
      <tr>
        <td>Your valued suggestion <br />您的建议</td>
        <td colSpan="2">建议购买</td>
      </tr>
    </tbody>
  </table>

  <div class="common-date">
    <span> Date </span>
    <div class="date">2024-01-01</div>
  </div>
</section>
