<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>DatePicker</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <!-- <nz-date-picker formControlName="datePicker"></nz-date-picker> -->
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>DatePicker[ShowTime]</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <!-- <nz-date-picker nzShowTime formControlName="datePickerTime"></nz-date-picker> -->
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>DatePicker[ShowTime HH]</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-date-picker nzxToDate formControlName="datePickerTimeH" nzFormat="yyyy-MM-dd HH"
        [nzShowTime]="{ nzFormat: 'HH' }">
      </nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>MonthPicker</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <!-- <nz-date-picker nzxToDate nzMode="month" formControlName="monthPicker"></nz-date-picker> -->
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>RangePicker</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <!-- <nz-range-picker formControlName="rangePicker"></nz-range-picker> -->
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>RangePicker[showTime]</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <!-- <nz-range-picker nzShowTime formControlName="rangePickerTime"></nz-range-picker> -->
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>TimePicker</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-time-picker nzxToDate formControlName="timePicker"></nz-time-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nzJustify="center">
    <nz-form-control nzSpan="2">
      <button nz-button nzType="primary">submit</button>
    </nz-form-control>
    <nz-form-control nzSpan="2">
      <button nz-button nzType="primary" type="button" (click)="paste()">paste</button>
    </nz-form-control>
    <nz-form-control nzSpan="2">
      <button nz-button nzType="primary" type="button" (click)="reset()">reset</button>
    </nz-form-control>
  </nz-form-item>
</form>


<pre>
{{pasteValue|json}}
</pre>
