<nz-card nzTitle="nzx-table-select">
  <form nz-form nzLayout="inline" [formGroup]="settingForm!">
    <nz-form-item *ngFor="let switch of listOfSwitch">
      <nz-form-label>{{ switch.name }}</nz-form-label>
      <nz-form-control
        ><nz-switch [formControlName]="switch.formControlName"></nz-switch
      ></nz-form-control>
    </nz-form-item>
    <nz-form-item *ngFor="let radio of listOfRadio">
      <nz-form-label>{{ radio.name }}</nz-form-label>
      <nz-form-control>
        <nz-radio-group [formControlName]="radio.formControlName">
          <label
            *ngFor="let o of radio.listOfOption"
            nz-radio-button
            [nzValue]="o.value"
            >{{ o.label }}</label
          >
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nzx-table-select
    [disabled]="settingForm.value.disabled"
    [mode]="settingForm.value.mode"
    [tableConfig]="tableConfig"
    [list]="list"
    [(ngModel)]="selected"
  >
    <ng-template nzxTableSelectKey="stars" let-data>
      <nz-rate [ngModel]="data.stars" nzDisabled></nz-rate>
    </ng-template>
  </nzx-table-select>

  选中：{{ selected | json }}
</nz-card>
